{% extends "layout.html" %}
{% block body %}
	{% if session.logged_in %}
		<form action="{{ url_for('add_entry') }}" method="post" class="add_entry">
			<dl>
				<dt>Title</dt>
				<dd><input type="text" size="30" name="title"></dd>
				<dt>Text</dt>
				<dd><textarea name="text" id="" cols="40" rows="5"></textarea></dd>
				<dd><input type="submit" name="" id="" value="Share"></dd>
			</dl>
		</form>
	{% endif %}
	<ul class="entries">
	{% for entry in entries %}
		<li><h4>{{ entry.title }}</h4>{{ entry.text|safe }}</li>
	{% else %}
		<li><em>Unbelievable. No entries here so far</em></li>
	{% endfor %}
	</ul>
{% endblock %}